body{
    background-color: #ffeb3b;
}

.entryDisplay p{
    display:inline;
    color:green;

}

.entryDisplay{
    margin:0.5em;
}

#entry{
    background-color: #b5bd17;
    padding:2em;
    margin: 0 auto;
    
}

#list{
    background-color: ivory;
    margin-top:3em;
}

p{
    display:inline;

}

spam{
        font-weight: bold;
}